# Pandas Foundations

In [1]:
import pandas as pd
import numpy as np
# import pyarrow as pa
import matplotlib.pyplot as plt

In [2]:
# !pip install pyarrow

In [3]:
# pandas series
print(pd.Series([1, 2, 3, 4])) # int series
print(pd.Series(range(0,10,2))) # range series: start: 0, stop: 10, step: 2
print(pd.Series([1, 2, 3, 4], index=['a', 'b', 'c', 'd'])) # indexed series
print(pd.Series(['apple', 'banana', 'cherry'], name='fruits')) # named series

0    1
1    2
2    3
3    4
dtype: int64
0    0
1    2
2    4
3    6
4    8
dtype: int64
a    1
b    2
c    3
d    4
dtype: int64
0     apple
1    banana
2    cherry
Name: fruits, dtype: object

In [4]:
# DataFrame creation
print(pd.DataFrame([[1, 2],[2,3], [4,5]]))
print(pd.DataFrame([[2,3],[4,5],[6,7]],columns = ['col1', 'col2']))
print(pd.DataFrame({'first_name': ['ali',"ahmed"]}))

   0  1
0  1  2
1  2  3
2  4  5
   col1  col2
0     2     3
1     4     5
2     6     7
  first_name
0        ali
1      ahmed

In [5]:
# index
print(pd.Series([1,2,3],index = ['dog','cat','human']))

dog      1
cat      2
human    3
dtype: int64

In [6]:
index = pd.Index(['dog', 'cat', 'human'],name='animals')
ser = pd.Series([1, 2, 3], name='pets', index=index)

In [9]:
pd.DataFrame([[22,133],[55, 167]],columns=["age", "height"],index=["ali", "ahmed"])

       age  height
ali     22     133
ahmed   55     167

In [10]:
# pd.series attributes
print(ser)
print(ser.dtype)  # Data type of the series
print(ser.index)  # Index of the series
print(ser.name)
print(ser.shape)  # Shape of the series
print(ser.size)
print(ser.index.name)  # Name of the index
print(len(ser))

animals
dog      1
cat      2
human    3
Name: pets, dtype: int64
int64
Index(['dog', 'cat', 'human'], dtype='object', name='animals')
pets
(3,)
3
animals
3

In [12]:
# pd.DataFrame attributes
index = pd.Index(['jack','jill'], name='person')
df = pd.DataFrame([[22, 133, "red"],[44, 177, "blue"]],columns=["age", "height", "color"], index=index)
print(df)
print(df.dtypes)  # Data type of the DataFrame
print(df.index)
print(df.columns)  # Columns of the DataFrame
print(df.shape)  # Shape of the DataFrame
print(df.size)  # Size of the DataFrame
print(df.index.name)  # Name of the index
print(df.columns.name)  # Name of the columns
print(len(df))  # Number of rows in the DataFrame

        age  height color
person
jack     22     133   red
jill     44     177  blue
age        int64
height     int64
color     object
dtype: object
Index(['jack', 'jill'], dtype='object', name='person')
Index(['age', 'height', 'color'], dtype='object')
(2, 3)
6
person
None
2